{% extends 'base.html' %}


{% block content %}
<div class="clearfix">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Palestra</th>
                <th>Carga Horária</th>
                <th>Data</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'event:certified_detail' object.pk %}" class="btn btn-link">{{ object.event.name }}</a>
                </td>
                <td>{{ object.event.workload }}h</td>
                <td>{{ object.event.date|date:"d/m/Y" }}</td>
                <td align="right">
                    <a href="#" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-download"></i></a>
                </td>
                <td align="right">
                    <form method="POST" action="{% url 'event:certified_detail' object.pk %}">
                        {% csrf_token %}
                        <input id="id__action" name="_action" type="hidden" value="send">

                        <button class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-send"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Você ainda não possui certificados. Está precisando participar mais dos eventos, não acha? =P</td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">
                    <ul class="pagination">
                        {% if paginator.has_previous %}
                        <li><a href="?page={{ paginator.has_previous_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        {% endif %}

                        {% for page in paginator.page_range %}
                        {% ifequal paginator.number page %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                        {% else %}
                        <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endifequal %}
                        {% endfor %}

                        {% if paginator.has_next %}
                        <li><a href="?page={{ paginator.has_next_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock content %}
