{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

<div id="printable" class="clearfix text-center">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <img src="{% static 'images/certified_decorator.png' %}">
                </td>
                <td>
                    <img src="{% static 'images/cleandev.png' %}">

                    <br><br>

                    <h1>Certificado</h1>

                    <br><br><br>

                    <p class="col-md-12">Concedido a {{ object.person.name }} (CPF:{{ object.person.cpf_cnpj }}) como participante do(a) {{ object.event.title }} realizado em {{ object.event.date|date:"d/m/Y" }} com carga horaria de {{ object.event.workload }} hora(s) no local {{ object.event.place }}</p>

                    <br><br>

                    <div class="clearfix">
                        <img src="{% static 'images/edson_signature.png' %}">
                        <br>
                        <strong>Edson Lopes Barbosa</strong>
                        <p>Diretor do Projeto CleanDev</p>
                    </div>

                    <br><br>

                    <div class="clearfix">
                        <strong>Link do evento e o e-mail do participante</strong>
                        <br>
                        <p>{{ object.event.post }}</p>
                        <p>{{ object.person.email }}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% endblock content %}
</div>
