{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block bodyclass %}home{% endblock bodyclass %}


{% block js %}
<script type="text/javascript" src="{% static 'js/jquery.maskedinput.js' %}"></script>
<script type="text/javascript" async src="{% static 'js/person.js' %}"></script>
{% endblock js %}


{% block content %}
<div class="clearfix">
    <form action="{% url 'core:login' %}" method="POST">
        {% csrf_token %}

        {% if form.errors.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.errors.non_field_errors }}
        </div>
        {% endif %}

        {% bootstrap_form form %}

        <button class="btn btn-primary btn-block">Entrar</button>
    </form>
</div>
{% endblock content %}
